header {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

.container__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 50px;
    margin: 0 auto;
}

.container__nav figure {
    display: flex;
    align-items: center;
    gap: 8px;
}

.container__nav figure img {
    width: 40px;
    border-radius: 50%;
}

.container__nav figure .scroolProfile {
    position: absolute;
    left: -150%;
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-menu-mobile);
    top: 78px;
    height: 150px;
    justify-content: center;
    width: 50%;
    align-items: center;
    border-radius: 0 8px 8px 0;
}

.container__nav #mobileOptions {
    position: absolute;
    right: 0;
    top: 78px;
    height: 400px;
    width: 50%;
    background-color: var(--color-menu-mobile);
    padding: 20px 10px;
    border-radius: 8px 0 0 8px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container {
    margin: 0 auto;
    background-color: var(--ligth-gray);
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.vitrine__job {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 28px;
    height: 100%;
    overflow: auto;
}


.vitrine__job li {
    background-color: var(--white);
    width: 80%;
    padding: 20px 20px;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.vitrine__job li header {
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-bottom: 1px solid var(--ligth-gray);
    margin-bottom: 20px;
}

.vitrine__job li .employee__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vitrine__job li .unemployed__footer{
    display: flex;
    justify-content: center;
}

.container__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container__content .colunm {
    display: flex;
    justify-content: space-between;
}

.btn--edit__delet__departments{
    display: flex;
    justify-content: space-between;
}





/*----TEXT--------------*/

.container__nav figure h1 {
    font-size: var(--font-size-text);
    font-weight: var(--font-weigth);
    font-family: var(--font-family);
}

.container__nav #mobileOptions li {
    font-size: var(--font-size-text);
    font-weight: var(--font-weigth);
    font-family: var(--font-family);
    color: var(--white);
}

.name__job h3 {
    font-size: var(--font-size-text);
    font-weight: var(--font-weigth);
}

.colunm .colunm__title {
    font-size: var(--font-size-text);
    color: var(--dark-gray);
    font-family: var(--font-family);
    padding-right: 30px;
}

.colunm .colunm__content{
    font-size: var(--font-size-text2);
    font-family: var(--font-family);
    
}



/*----BUTTON--------------*/


.container__nav figure .scroolProfile button {
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--white);

    font-size: var(--font-size-text2);
    font-weight: var(--font-weigth);
    font-family: var(--font-family);
}

.btn__edit__dep{
    margin-top: 20px;
    height: 35px;
    width: 40%;
    border-radius: 8px;
    border: 1px solid transparent;

    font-weight: var(--font-weigth);
    font-family: var(--font-family);
    cursor: pointer;
}

#edit__dep__btn{
    color: var(--color-attEmp-text);
    background-color: var(--color-attEmp-back);
}

#delete__dep__btn{
    color: var(--color-closeEmp-text);
    background-color: var(--color-closeEmp-back);
}